* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding: 50px 240px;
    height: 750px;
    background: rgba(229, 84, 115, 0.10);
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

.btn-primary:hover {
    background-color: aqua;
    color: floralwhite;
    cursor: pointer;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-info {
    height: 500px;
}

.featured {

    margin-top: 150px;
    text-align: center;
}

.featured-title {
    font-size: 40px;
}

.featured-description {
    margin-top: 40px;
    color: gray;
}

.featured-img {
    display: flex;
    margin-top: 30px;
}

.img {
    text-align: center;
    margin: auto;
}

.img-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.plans {
    display: flex;

    margin-top: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 100px;
    margin: 0px 350px;
}

.plan-item {
    text-align: center;
    margin: auto;
}


.item-title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin: 20px 0px 10px 0px;
}

.part2 {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    padding: 50px 240px;
    height: 750px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 80px;
    align-items: center;
}

.part2-info {
    text-align: center;
}

.a {
    color: #E55473;
}

.part2-des {
    color: gray;
    font-size: 25px;
}

.part2-img {
    width: 500px;
    height: 700px;
}

.insta-information {
    text-align: center;
    margin-top: 50px;

}

.insta-title {
    color: #272727;
    font-size: 60px;
    font-weight: 100px;
}

.insta-des {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 28px;
    font-weight: 400;
}

.instagram-images {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    margin: 40px 180px;

}