/* primary part */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

.btn-primary:hover {
    background-color: aqua;
    color: floralwhite;
    cursor: pointer;
}

/* header section */

header {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    padding: 50px 100px;
    height: 580px;
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
}

/* header-featured section */
.featured-info {
    height: 400px;
}

.featured {

    margin-top: 80px;
    text-align: center;
}

.featured-title {
    font-size: 40px;
}

.featured-description {
    margin-top: 30px;
    color: gray;
}

.featured-img {
    display: flex;
    margin-top: 30px;
}

.img {
    text-align: center;
    margin: auto;
}

.img-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}


/* Delivery-plans section */
.plans {
    display: flex;
justify-content: center;
    margin-top: 50px;
    width: 900px;
    height: 300px;
    background: rgba(39, 39, 39, 0.05);
    padding: 60px;
    margin: 0px 350px;
}

.plan-item {
    text-align: center;
    margin: auto;
}


.item-title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0px 10px 0px;
}
/* Second-banner section */
.part2 {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 50px 100px;
    height: 650px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 80px;
    align-items: center;
    
}
.part2-title{
    margin-bottom: 30px;
}

.part2-info {
     text-align: center;
}

.a {
    color: #E55473;
}

.part2-des {
    color: gray;
    font-size: 15px;
    margin-bottom: 30px;
}

.part2-img {
    width: 400px;
    height: 600px;
}

.insta-information {
    text-align: center;
    margin-top: 50px;

}

/*instagram-section  */
.insta-title {
    color: #272727;
    font-size: 45px;
    font-weight: 100px;
}

.insta-des {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
}

.instagram-images {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
gap: 30px;
padding: 30px 200px;
cursor: pointer;
margin-bottom: 39px;
}

.deals-container {
   
    background-image: url("../Rectangle\ 9.png");
    background-repeat: no-repeat;
    justify-content: center;
margin-left: 50px;}
    
    

.Deals, .subscribe{
    text-align: center;
    width: 1000px;
    height: 400px;
    padding: 30px 30px 30px 200px;

}
.deals-info{
    margin-top: 30px;
margin-bottom: 20px;
color: #272727;
font-size: 40px;
font-weight: 800;
}
.deals-details{
    margin-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
font-weight: 400;
}
.contact input{
    
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    border:0;
    width: 85%;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 43px;
}

.subscribe{
    display: flex;
/* justify-content: space-around; */
gap: 50px;}